<!DOCTYPE html>
<html>
<head>
  <title>Record Store</title>
  <%= stylesheet_link_tag 'reset', 'jquery-1.4.2', 'rails', 'layout', 'style' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">

  <div id="header">
    <h1>Jimmy's Record Store</h1>
    <h2>music for hipsters</h2>
  </div>

  <ul id="nav">
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Buy Albums", albums_path %></li>
    <li><%= link_to "Buy Songs", "#" %></li>
  </ul>

  <div id="content">
    <%= yield %>
  </div>

</div>
</body>
</html>
